<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ITCA_FEPADE"
        tools:targetApi="31">

        <activity
            android:name=".see_reservation"
            android:exported="false" />
        <activity
            android:name=".Item.Order_item"
            android:exported="false" />
        <activity
            android:name=".Undelivered_orders"
            android:exported="false" />
        <activity
            android:name=".cymbals"
            android:exported="false" />
        <activity
            android:name=".Item.Select_cymbals"
            android:exported="false" />
        <activity
            android:name=".Item.Category_cymbals"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Item.Items_cymbals_filter"
            android:exported="false" />
        <activity
            android:name=".Item.Toolbar"
            android:exported="false" />
        <activity
            android:name=".Item.Items_cymbals"
            android:exported="false" />
        <activity
            android:name=".Validation.Sign_up"
            android:exported="false" />
        <activity
            android:name=".Validation.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>